main {
  margin: 0 auto;
  max-width: 35rem;

  padding: 2rem;

  background-image: url('./src/assets/bg-sheet.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.abilities {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 23rem;
}