button {
  margin: -5rem auto .5rem;

  display: block;
  width: 5rem;
  height: 6rem;
  padding: 0 .5em;

  color: white;
  font-family: inherit;
  font-size: inherit;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;

  border: none;
  background-image: url('./src/assets/btn-hex.png');
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
}